<header>
  <nav>
    <ul>
      <li><a href="/">Minhas Tarefas</a></li>
      <li><a href="/categories">Categorias</a></li>
      <li><a href="/tags">Tags</a></li>
      <li class="profile-menu">
        <a href="/profile">Meu Perfil</a>
      </li>
    </ul>
  </nav>
</header>